.carousel-item { height: 100vh;}
.navbar{position: absolute; z-index: 110; width: 100%;}
.h-min-nav{min-height: 200px;}
.bg-transparente{background-color: transparent;}
.bg-color-1{background-color: rgba(84, 84, 84, 0.09); box-shadow: 0px 0px 6.72px 0.28px rgba(2, 2, 2, 0.3);}

.bg-nav {
  background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
  opacity: 0.702;
  width: 100%;
  height: 120px;
  position: absolute;
  z-index: 101;
  left: 0;
}

.navbar-css{position: absolute; width: 100%; top: 0; left: 0; right: 0; z-index: 0;}
.border-r-1{border-right: 1px solid #cdcaca80;}
.border-l-1{border-left: 1px solid #cdcaca80;}
.carousel-caption {
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 0;
}
.btn-carousel{position: absolute; z-index: 2; bottom: 13vh; color: #fff;}
.borde-mini-promo{height: 20px; width: 40px; border-bottom: 2px solid #cdcaca;}
.posicion-triandolo{position: absolute; height: 100%; z-index: 10;}
.posicion-triandolo-2{position: absolute; width: 100%; z-index: 10;}
.right-0{right: 0;}
.left-0{left: 0;}
.bottom-0{bottom: -2px;}
.triangulo-1 {
     width: 0; 
     height: 0; 
     border-left: 17px solid rgba(242, 242, 242, 0.97);
     border-top: 10px solid transparent;
     border-bottom: 10px solid transparent; 
}
.rotar180{transform: rotate(180deg);}
.rotar270{transform: rotate(270deg);}
.btn-card-promo{position: absolute; width: 100%; height: 100%;}
.text-colo-2{color: #808285;}
.linea-footer{
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.7);
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.7);
	width: 100%;
	min-height: 1px;
	margin-bottom: 50px;
}
.img-logo-fotter{height: 12px;}
.img-logo-fotter-2{height: 41px;}
.text-secondary{color: #141415 !important;}
.h-icon-redes{height: 18px;}
.lh-fotter-1{ line-height: 12px;}
.error{color: red;}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.carousel-item { height: 30vh;}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.carousel-item { height: 40vh;}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.carousel-item { height: 40vh;}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}